<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/nikeStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike Air Force V8</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="../../../templates/Nike.html" class="active"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="../../../templates/kids.html"><i class="fas fa-child"></i> Kids</a></li>
            <li><a href="../../../templates/male.html"><i class="fas fa-male"></i> Men</a></li>
            <li><a href="../../../templates/women.html"><i class="fas fa-female"></i> Women</a></li>
            <li><a href="../../../templates/clothes.html"><i class='fas fa-tshirt'></i> Clothes</a></li>
        </ul>
    </header>

    <article id="AirForceV8">
        <div class="image">
            <img src="../../../static/air-force-1-lv8-older-shoe-NmFCch.png" alt="">
            <img src="../../../static/nike air force v8/air-force-1-lv8-older-shoe-NmFCch.png" alt="">
            <img src="../../../static/nike air force v8/air-force-1-lv8-older-shoe-NmFCch (1).png" alt="">
            <img src="../../../static/nike air force v8/air-force-1-lv8-older-shoe-NmFCch (2).png" alt="">
            <img src="../../../static/nike air force v8/air-force-1-lv8-older-shoe-NmFCch (3).png" alt="">
            <img src="../../../static/nike air force v8/air-force-1-lv8-older-shoe-NmFCch (4).png" alt="">
            <img src="../../../static/nike air force v8/air-force-1-lv8-older-shoe-NmFCch (5).png" alt="">
            <img src="../../../static/nike air force v8/air-force-1-lv8-older-shoe-NmFCch (6).png" alt="">
        </div>
        <div class="details">
            
        </div>
    </article>
</body>
</html>