<html>
    <head>
        <title>Grouping Content with Divs</title>
        <style>
            .html{
                background-color: lime;
            }
            .css{
                background-color: limegreen;
            }
            .hello{
                font-family: fantasy;
            }
        </style>
    </head>
    <body>
        <div class="html">
          <h1>HTML</h1>
          <p class="hello">HTML is a programming language which helps you to create webpages and make them look better.</p>
          <p>Hello this is another paragraph</p>
          <p>And this is another one.</p>
          <img src="../static/banana.jpg" alt="banana.jpg">
          <img src="./banana.jpg" alt="banana.jpg">
        </div>
        <div class="css">
            <h1>CSS</h1>
            <p>CSS is a programming language which helps you to style html and make it look even better</p>
        </div>
    </body>
</html>