<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="../static/nikeStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids - Luke's Nike Website</title>
</head>
<body>
    <div class="wrapper">
    <header>
        <ul>
            <li><a href="./Nike.html"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="./kids.html" class="active"><i class="fas fa-child"></i> Kids</a></li>
            <li><a href="./male.html"><i class="fas fa-male"></i> Men</a></li>
            <li><a href="./women.html"><i class="fas fa-female"></i> Women</a></li>
            <li><a href="./clothes.html"><i class='fas fa-tshirt'></i> Clothes</a></li>
        </ul>
    </header>
    <article>
        <div class="shoes">
            <a href=""><img src="../static/kids stuff/air-force-1-lv8-older-shoe-6jd7ZL.jpg" alt="nike air force v8"></a>
            <div class="info">
                <h3>Nike Air Force 1 LV8</h3>
                <p>Older Kids' Shoe</p>
                <p>Price: 449 AED</p>
                <p>Product code: 049kd902ri912l</p>
            </div>
        </div>
        <div class="shoes">
            <a href=""><img src="../static/kids stuff/force-1-lv8-younger-shoe-gZn2zb.jpg" alt="nike air force v8"></a>
            <div class="info">
                <h3>Nike Force 1 LV8</h3>
                <p>Younger Kids' Shoe</p>
                <p>Price: 319 AED</p>
                <p>Product code: 590ro004km948v</p>
            </div>
        </div>
        <div class="shoes">
            <a href="./NikeProjectFiles/NikeAirForceV8/NikeAirForceV8.html"><img src="../static/kids stuff/force-1-lv8-shoe-TVQj8M.jpg" alt="nike air force v8"></a>
            <div class="info">
                <h3>Nike Force 1 LV8</h3>
                <p>Baby & Toddler Shoe</p>
                <p>Price: 269 AED</p>
                <p>Product code: 302ir738ig403r</p>
            </div>
        </div>
    </article>
    </div>
</body>
</html>