<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luke's Nike Webpage</title>
    <link rel="stylesheet" href="../static/nikeStyle.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <ul>
                <li><a href="./Nike.html" class="active"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="./kids.html"><i class="fas fa-child"></i> Kids</a></li>
                <li><a href="./male.html"><i class="fas fa-male"></i> Men</a></li>
                <li><a href="./women.html"><i class="fas fa-female"></i> Women</a></li>
                <li><a href="./clothes.html"><i class='fas fa-tshirt'></i> Clothes</a></li>
            </ul>
        </header>
        <article>
            <div class="shoes">
                <a href="./NikeProjectFiles/NikeAirForceV8/NikeAirForceV8.html"><img src="../static/air-max-genome-shoes-P0qnPw.jpg" alt="nike air max genome"></a>
                <div class="info">
                    <h3>Nike Air Max Genome</h3>
                    <p>Price: 879 AED</p>
                    <p>Product code: 129oi190ud010p</p>
                </div>
            </div>
            <div class="shoes">
                <a href="./NikeProjectFiles/NikeAirForceV8S20/NikeAirForceV8S20.html"><img src="../static/air-force-1-lv8-s50-older-shoe-SgGGZP.jpg" alt="nike air force v8 s50"></a>
                <div class="info">
                    <h3>Nike Air Force V8 S50</h3>
                    <p>Price: 329 AED</p>
                    <p>Product code: 129oi290ud019l</p>
                </div>
            </div>
            <div class="shoes">
                <a href="./NikeProjectFiles/NikeAirForceS20/NikeAirForceS20.html"><img src="../static/air-force-1-s50-older-shoe-9wcn63.jpg" alt="nike air force s50"></a>
                <div class="info">
                    <h3>Nike Air Force S50</h3>
                    <p>Price: 299 AED</p>
                    <p>Product code: 112oi215ud017d</p>
                </div>
            </div>
            <div class="shoes">
                <a href="./NikeProjectFiles/NikeAirMax/NikeAirMax.html"><img src="../static/air-max-2021-older-shoes-Lwss5R.jpg" alt="nike air max"></a>
                <div class="info">
                    <h3>Nike Air Max</h3>
                    <p>Price: 379 AED</p>
                    <p>Product code: 171ji245gk017h</p>
                </div>
            </div>
            <div class="shoes">
                <a href="./NikeProjectFiles/NikeHuarcheRunOlder/NikeHuarcheRunOlder.html"><img src="../static/huarache-run-older-shoes-lkTNnAR3.jpg" alt="nike huarche run older"></a>
                <div class="info">
                    <h3>Nike Huarche Run Older</h3>
                    <p>Price: 139 AED</p>
                    <p>Product code: 930yu245kf507i</p>
                </div>
            </div>
            <div class="shoes">
                <a href="./NikeProjectFiles/NikeHuarcheRunYounger/NikeHuarcheRunYounger.html"><img src="../static/huarache-run-younger-shoe-GPTmY1YN.jpg" alt="nike huarche run younger"></a>
                <div class="info">
                    <h3>Nike Huarche Run Younger</h3>
                    <p>Price: 129 AED</p>
                    <p>Product code: 905op965ir573d</p>
                </div>
            </div>
            <div class="shoes">
                <a href="./NikeProjectFiles/NikeReactLive/NikeReactLive.html"><img src="../static/react-live-older-shoe-fbDdR6.jpg" alt="nike react live"></a>
                <div class="info">
                    <h3>Nike React Live</h3>
                    <p>Price: 259 AED</p>
                    <p>Product code: 892dm029fo409m</p>
                </div>
            </div>
            <div class="shoes">
                <a href="./NikeProjectFiles/NikeReactVision/NikeReactVision.html"><img src="../static/react-vision-older-shoes-gWTCN3.jpg" alt="nike react vision"></a>
                <div class="info">
                    <h3>Nike React Vision</h3>
                    <p>Price: 289 AED</p>
                    <p>Product code: 490yu448id390u</p>
                </div>
            </div>
        </article>
    </div>   
</body>
</html>