<!DOCTYPE html>
<html>
    <head>
        <title>Omlette Recipe</title>
        <style>
            img{
                width: 500px;
                height: 400px;
                border-radius: 10px;
                margin-left: -25px;
                box-shadow: 10px 10px 50px 10px white;
            }
            ul,ol{
                box-shadow: 10px 10px 50px 10px white;
            }
            h1{
                text-shadow: 2px 2px rgb(255, 255, 255);
            }
        </style>
    </head>
    <body style="background-color:gold; font-family:Verdana; text-align: center;">
        <h1><u> Super Cool Omelette Recipe (makes you buff)</u></h1>
        <a href="./aboutMe.html"><img src="../static/awesomeOmelettePic.jpg" alt="Omelette.jpg"></a>
        <h2>Ingredients</h2>
        <ul type="square" style="border:2px solid; border-radius:9px; padding:25px; background-color:lightblue; line-height: 35px; width: 30%; margin-left:33%; text-align: left; font-size: 18px;">
            <li>2 large eggs</li>
            <li>1 tablespoon unsalted butter</li>
            <li>2 tablespoons grated cheese, any kind</li>
            <li>3 to 4 cherry tomatoes, cut in half and sprinkled lightly with salt</li>
            <li>2 tablespoons chopped basil, parsley, or herb of your choice</li>
        </ul>
        <h2>Instructions</h2>
        <ol type="i" style="border:2px solid; border-radius:9px; padding:35px; background-color:lightblue; line-height: 35px; width: 40%; margin-left:28%; text-align: left; font-size: 18px;">
            <li><b>Beat the eggs:</b> Use two or three eggs per omelette, depending on how hungry you are. Beat the eggs lightly with a fork. </li>
            <li><b>Melt the butter:</b> Use an 8-inch nonstick skillet for a 2-egg omelette, a 9-inch skillet for 3 eggs. Melt the butter over medium-low heat, and keep the temperature low and slow when cooking the eggs so the bottom doesn’t get too brown or overcooked.</li>
            <li><b>Add the eggs:</b> Let the eggs sit for a minute, then use a heatproof silicone spatula to gently lift the cooked eggs from the edges of the pan. Tilt the pan to allow the uncooked eggs to flow to the edge of the pan.</li>
            <li><b>Fill the omelette:</b> Add the filling—but don’t overstuff the omelette—when the eggs begin to set. Cook for a few more seconds</li>
            <li><b>Fold and serve:</b> Fold the omelette in half. Slide it onto a plate with the help of a silicone spatula.</li>
        </ol>
    </body>
</html>